.heading {
  font-family: "poppins";
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 58px;
  
}
.color {
  color: aqua;
}
.servicecard {
  display: grid;

  grid-template-columns: auto;
}
img[src="/service img1.png"] {
  display: block;
  margin-left: 111px;
}
img[src="/service img2.png"] {
  display: block;
}
img[src="/service img3.png"] {
  display: block;
  margin-left: 111px;
}
img[src="/service img4.png"] {
  display: block;
}
img[src="/service img5.png"] {
  display: block;
  margin-left: 111px;
}
img[src="/service img6.png"] {
  display: block;
}
img[src="/service img7.png"] {
  display: block;
  margin-left: 111px;
}
img[src="/service img8.png"] {
  display: block;
}
.title {
  font-family: "poppins";
  font-weight: bold;
  font-size: medium;
}
.describe {
  font-family: "poppins";
  font-weight: lighter;
  font-size: small;

  text-align: justify;
  margin-right: 130px;
}
.images {
  max-width: 587px;
  max-height: 403px;
  border-radius: 20px;
}

.servicecard > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px;
}

.servicecard > div:nth-child(even) {
  flex-direction: row-reverse;
  margin-right: 100px;
}
.title {
  white-space: nowrap;
height: 41px;
  padding: 67px;
}
.description {
  margin-top: 660px;
  margin-left: 111px;
  margin-right: 150px;
  margin-top: 30px;
  width: 542px;
 
  text-align: justify;
  justify-content: left;
}
