.space{
    margin-top: 80px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
p{
text-align: justify;
margin-left: 130px;
font-family: "poppins";
font-size: x-large;
font-weight: bold;

}
.paraimages{
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 220px;
}
.paragraph{
    font-family: "poppins";
    font-weight: lighter;
    font-size: large;
    margin-right: 90px;
}
.image{
   max-width:50px;
   max-height:50px;
   position: relative;
   margin-top: 30px;
    
}
.para{
    font-family: "poppins";
    font-weight: lighter;
    font-size: large;
    margin-right: 90px;  
    position: relative;
    margin-bottom:100px ;
}
.newscard{
    display: flex;
    margin-left:120px;
    margin-right: auto;
    margin-bottom: 47px;

}
.bottom{
    display: flex;
}
.news{
    text-align: justify;
    margin-right:350px;
    margin-left: -50px;

}
.title{
    font-family: "poppins";
    font-size: x-large;
    font-weight: bold;
}
.mater{
    font-family: "poppins";
    font-size: large;
    font-weight: lighter; 
}
.img{
    margin-left: 120px;
    position: relative;
    top: 30px;
}
.info{
    margin-top: 20px;
}
.name{
    margin-left: 10px;
    font-family: "poppins";
    font-weight: lighter;
    font-size: medium;
}
.dec{
    margin-left: 10px;
    font-family: "poppins";
    font-weight: lighter;
    font-size: medium;
    position: relative;
    bottom: 20px;
}