@media (min-width: 768px) {
.aboutusWrapper {
  color: black;
  max-width: 1244px;
  background-color: whitesmoke;
  padding: 36px;
  text-align: center;
  margin: auto;
}
}
.heading {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: x-large;
}
.color {
  color: aqua;
}
.aboutusdescription {
  color: gray;
  font-weight: lighter;
  padding: 34px;
  text-align: center;
  margin: auto;
  max-width: 929px;
}
.AboutUsCard {
  background-color: white;
  color: black;
  border-radius: 20px;
  max-width: 381px;
  max-height: 349px;
  padding: 25px 25px 50px 25px;
  flex: 1;

  @media (max-width: 776px) {
    margin: 20px auto;

  }
}
.image {
  max-width: 135px;
  max-height: 135px;
}
.title {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 22px;
}
.aboutuscarddescription {
  color: lightgray;
  font-weight: lighter;
  text-align: center;
  margin: auto;
}
.aboutuscards {
  display: flex;
  gap: 50px;

  @media (max-width: 776px) {
    display: block;
  }
}
