.wrapper{
    background-color: black;
    color: white;
    max-width: 1442px;
   
    height:auto;
    display: flex;
    flex-wrap: wrap;
    padding: 75px 104px 74px 107px;
    
}
.header{
    color: white;
    font-size: medium;
    font-weight: lighter;
    margin-bottom: 16px;
    font-family: "poppins";
   
}
.lorems{
   display: grid;
  padding: 10px;
    gap: 8px;
 color: white;
    grid-template-columns: repeat(2,1fr);
    
    margin-right:40px ;
   

}
.lorems div {
  background-color: #333; 
  text-align: center; 
  padding: 8px; 
  border-radius: 4px; 
  
 
  
}
.lorem{
  margin-bottom: 300px;
}
.searchbar{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.src{
    font-size: medium;
    
}
.verticalline {
    width: 1px;                
    height: 100%;             
    background-color: white;   
    margin: 0 20px;  
    display: grid;
    margin-top: -100px;
    margin-left: auto;
    gap: 58px;
    
            
  }
  .verticalline1 {
    width: 1px;                
    height: 100%;             
    background-color: white;   
    margin: 0 20px;  
    display: grid;
    margin-top: -100px;
    margin-left: auto;
    gap: 58px;
    
            
  }
  .verticalline2 {
    width: 1px;                
    height: 100%;             
    background-color: white;   
    margin: 0 20px;  
    display: grid;
    margin-top: -100px;
    margin-left: auto;
    gap: 58px;
    
            
  }
  .searchbar{
    text-align: justify;
   margin-left: 40px;

  }
  .srchbtn{
    background-color: white;
   width: 200px;
    max-height: 38px;
    border:none;
    gap: 58px;
   
  }
  .searching{
    background-color: blueviolet;
   width: 17px;
   height: 17px;
    align-items: right;

  }
  .search{
    font-family: "poppins";
    font-weight:lighter;
    font-size: medium;
    margin-bottom: 16px;
 
  }
  .verticalline1 {
    width: 1px;                
    height: 100%;             
    background-color: white;   
    margin: 0 20px;  
    display: grid;
    margin-top: -100px;
    margin-left: auto;
    gap: 58px;
  }
  .verticalline2 {
    width: 1px;                
    height: 100%;             
    background-color: white;   
    margin: 0 20px;  
    display: grid;
    margin-top: -100px;
    margin-left: auto;
    gap: 58px;
  }
  
