.webinarwrapper {
  background-color: whitesmoke;
  color: black;
  margin: auto;
  max-width: 1440px;
}
.heading {
  color: black;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 71px;
  padding: 71px;
}
.Webinarcard {
  background-color: white;
  color: black;
  max-width: 1191px;
 
  padding: 28px 105px 29px 42px;
  margin: auto;
  border-radius: 40px;
  display: flex;
  gap: 22px;
  margin-left: auto;
  margin-right: auto;
 
}
.card {
  text-align: left;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: column;
}
.image {
  max-width: 421px;
  max-height: 373px;
  border-radius: 20px;
  margin: auto;
  display: block;
}
.author {
  color: black;
  font-size: larger;
  font-weight: bold;
}
.ceo {
  color: gray;
  font-weight:lighter;
  font-size: medium;
 
}
.designer {
  color: black;
  font-size: larger;
  font-weight: bold;
  margin-top: 5px;
}
.description {
  color: gray;
  font-size: small;
  font-weight: lighter;
  text-align: left;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.date {
  font-size: larger;
  font-weight: bold;
  margin-top: 96px;
  
}
.time {
  color: black;
  font-size: medium;
  font-weight: lighter;
}
.register {
  background-color: #2196f3;
  max-width: 188px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: large;
  align-self: flex-end;
}
