.webinarwrapper {
  background-color: whitesmoke;
  color: black;
  margin: auto;
  max-width: 1440px;
}
.heading {
  color: black;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 71px;
  padding: 71px;
}
.Webinarcard {
  background-color: white;
  color: black;
  max-width: 1191px;
  padding:28px ;
  margin: auto;
  border-radius: 40px;
  display: flex;
  gap: 22px;
}
.card {
  text-align: left;
}
.image {
  max-width: 421px;
  max-height: 373px;
  border-radius: 20px;

  margin: auto;
  display: block;
}
.author {
  color: black;
  font-size: larger;
  font-weight: bold;
}
.ceo {
  color: gray;
  font-weight: lighter;
  font-size: medium;
}
.designer {
  color: black;
  font-size: larger;
  font-weight: bold;
}
.description {
  color: gray;
  font-size: small;
  font-weight: lighter;
  text-align: left;
  margin: auto;
}
.date {
  font-size: larger;
  font-weight: bold;
}
.time {
  color: black;
  font-size: medium;
  font-weight: lighter;
}
.register {
  background-color: #2196f3;
  max-width: 188px;

  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: large;
  align-items: center;
}
