.latest{
    color: aqua;
    font-family: "poppins";
    font-weight: bold;
    font-size: xx-large;
    
}
h1{
    font-family: "poppins";
    font-weight: bold;
    font-size: xx-large;  
    margin-left: auto;
    margin-right: auto;
    max-width: 318px;
    text-align: center;
    margin-top: 90px;
   
}
h6{
   
    font-family: "poppins";
    font-weight: lighter;
    font-size: small;  
    margin-left: auto;
    margin-right: auto;
    max-width: 318px; 
}
.curves{
    display: flex;
    width:270px ;
    height: 300px;
   opacity: 10.0;
   position: relative;
   bottom: 100px;
   transform: rotate(-100deg);
    
}
.bell{
    display: flex;
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 120px;
    margin-left: 300px;
}
.search{
    color: black;
    background-color: rgb(225, 221, 221);
    position: relative;
    top: 8px;
    margin-left: 20px;
 
}
.searching{
    display: grid;
    grid-template-columns: auto auto;
  margin-left:550px;
  margin-right: 200px;
  background-color: rgb(225, 221, 221);
  width: 350px;
  height: auto;
  position: relative;
  bottom: 350px;
  border-radius: 5px;

}
.sea{
  font-weight: lighter;
  margin-right: 200px;
  font-family: "poppins";
  font-size: large;

}
.curve {
    display: right;
    width:270px ;
    height: 300px;
   opacity: 10.0;
   position: relative;
   bottom: 400px; 
   transform: rotate(10deg);
  margin-left: 1000px;
}
.lightbulb{
    display: right;
    width: 180px;
    height: 180px;
    position: relative;
    bottom: 920px;
    margin-left: 600px; 
}