.container {
  background-color: whitesmoke;
  font-family: "poppins";
}
h1 {
  font-family: "poppins";
  font-weight: bold;
}
.coloring {
  color: aqua;
  font-family: "poppins";
  font-weight: bold;
}
.title {
  font-family: "poppins";
  font-weight: bold;
  text-align: left;
  font-size: x-large;
  margin-left: 100px;
}
.picture {
  margin-top: 97px;
  display: flex;
  margin-left: 100px;
}
.describe {
  font-family: "poppins";
  font-weight: lighter;
  font-size: medium;
  text-align: justify;

  margin-right: 115px;
  margin-left: 100px;
}
.downarrow {
  max-width: 25px;
  max-height: 25px;
}
h2 {
  font-family: "poppins";
  font-weight: bold;
}
.display {
  display: flex;
  column-gap: 100px;
}
.servcard {
  background-color: white;
  color: black;
  border-radius: 20px;
  max-width: 345px;
  max-height: 461px;
  padding: 30px 10px 50px 10px;
  flex: 1;
  gap: 100px;
  margin-left: auto;
  margin-right: auto;
}
.name {
  font-family: "poppins";
  font-weight: bold;
  font-size: large;
}
.des {
  font-family: "poppins";
  font-weight: lighter;
  font-size: medium;
}
.button {
  max-width: 325px;
  max-height: 63px;
  background-color: #2196f3;
  border: none;
  color: white;
  font-family: "poppins";
  font-weight: bold;
  font-size: large;
  padding: 13px 50px;
  border-radius: 10px;
  margin-top: 137px;
}
.test h2 {
  margin-top: 191px;
  font-family: "poppins";
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.test h3 {
  margin-top: 21px;
  font-family: "poppins";
  font-weight: lighter;
  font-size: medium;
  color: lightslategray;
  margin-left: auto;
  margin-right: auto;
}
.designer {
  background-color: white;
  display: flex !important;
  max-width: 1191px;
  max-height: 430px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}
.designing {
  display: flex;
  flex-direction: row;
}
.picto {
  max-width: 392px;
  max-height: 330px;
  padding: 50px 41px 50px 49px;
}
.para {
  margin-top: 50px;
  font-family: "poppins";
  text-align: justify;
  font-weight: lighter;
  margin-right: 118px;
}
.quotes {
  width: 141px;
  height: 126px;
}
.ipsum {
  font-family: "poppins";
  font-weight: bold;
  font-size: x-large;
}
.desi {
  font-family: "poppins";
  font-weight: lighter;
  font-size: x-large;
}
.ipsumalt {
  display: flex;
  margin-top: 120px;
  text-align: justify;
  gap: 280px;
}
.colordot {
  max-width: 30px;
  max-height: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  gap: 30px;
}
.faq h3 {
  font-family: "poppins";
  font-size: xx-large;
  font-weight: bold;
  margin-top: 181px;
  margin-left: auto;
  margin-right: auto;
}
.vitae {
  font-family: "poppins";
  font-size: large;
  font-weight: lighter;
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
}
.volupat {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.volupat p {
  font-family: "poppins";
  font-size: larger;
  font-weight: bold;

  text-align: center;
}
.sym {
  background-color: gray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.altsymbol {
  text-align: justify;
  font-family: "poppins";
  font-weight: lighter;
  font-size: large;
 
}
.ornare .tortor{
  max-width: 891px;
  max-height: 142px;
  margin-top: 50px;
  font-family: "poppins";
  font-weight: lighter;
  font-size: medium;
  text-align: justify;

 
 
  
}
.ornares{
  display: grid;
  grid-template-columns: auto ;
  margin-left: auto; 
  margin-right: auto;
 
}
.addition{
  margin-left: 1000px;
  background-color: gray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  
}
.symbol{
 
}