.companylogos {
  padding-left: 248px;
  padding-right: 248px;
  align-items: center;
  text-align: center;
  display: flex;
  column-gap: 77px;
}
.data {
  display: grid;
  grid-template-columns: auto auto;
}
.mater {
  display: flex;
  text-align: justify;
  justify-content: left;
  margin-left: 99px;
}
h2 {
  margin-top: 32px;
  font-family: "poppins";
  font-weight: bold;
  font-size: x-large;
  max-width: 375px;
}
h3 {
  max-width: 600px;
  text-align: justify;
  font-family: "poppins";
  font-weight: lighter;
  font-size: larger;
}

.backimage {
  max-width: 1440px;
  max-height: 817px;
}
.video {
  position: absolute;

  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  max-height: 87.5px;
  max-width: 87.5px;
  margin-top: -370px;
  color: white;
}
.gameing {
  text-align: justify;
  margin-top: -180px;
  margin-bottom: 180px;
  margin-left: 30px;
}
.game {
  color: white;
  font-size: large;
  font-family: "poppins";
  font-weight: bold;
  max-width: 857px;
}
.name {
  color: rgb(55, 52, 52);
  font-family: "poppins";
  font-weight: lighter;
  font-size: large;
}
.instructor {
  display: grid;
  margin-top: 20px;

  align-items: justify;
  justify-content: left;
}
.instructors {
  font-family: "poppins";
  font-weight: bold;
  font-size: x-large;
}
.inst {
  margin-left: 100px;
  position: relative;
  gap: 59px;
  margin-top: 52px;
}

.color {
  color: aqua;
}
.namespace {
  display: flex;
  margin-left: 70px;
  gap: 90px;
  font-family: "poppins";
  font-size: medium;
  font-weight: lighter;
}
.enrolled {
  font-family: "poppins";
  font-weight: bold;
  font-size: x-large;
  margin-top: 50px;
  text-align: justify;
  justify-content: left;
}
.enroll {
  display: grid;
  margin-top: 20px;
  align-items: justify;
  justify-content: left;
  margin-left: 100px;
}
.images {
  border: white;
  border-radius: 50%;
  object-fit: cover;
}
.btn {
  max-width: 325px;
  max-height: 80px;
  border-radius: 15px;
  background-color: #2196f3;
  color: white;
  font-family: "poppins";
  border: none;
  font-size: xx-large;
  font-weight: lighter;
  padding: 4px 50px;
  margin-top: 84px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: ".path1 path2 path3." ".path4 path5 path6." ".path7 path8.";
  align-items: center;
  grid-area: center;
  object-fit: cover;
  margin-left: 60px;
}
.quote {
  display: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
p {
  max-width: 500px;
  text-align: center;
  font-family: "poppins";
  margin-left: auto;
  margin-right: auto;
  margin-top: -370px;
  font-weight: lighter;
  color: black;
}
h5 {
  font-family: "poppins";
  text-align: center;
}
img[src="/path1.png"] {
  display: block;
  margin-left: 0;
}
img[src="/path2.png"] {
  display: block;
  margin-left: 0;
  margin-right: 300px;
}
img[src="/path3.png"] {
  display: block;
  margin-left: 0;
  margin-right: auto;
}
img[src="/path4.png"] {
  display: block;
  margin-left: 200px;
  margin-right:0 ;
}
img[src="/path5.png"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid;
  border-color: #0073C6;
  border-radius: 50%;
  padding: 20px 20px 20px 20px;
}
img[src="/path6.png"] {
  display: block;
  margin-left: -200px;
  margin-top: -70px;
}
img[src="/path7.png"] {
  display: block;
  margin-left:0;
}

img[src="/path8.png"] {
  display: block;
  margin-left: auto;
  margin-right: -250px;
  margin-top: -250px;
}
.moreworks{
  margin-left: 107px;
}
.work{
  font-family: "poppins";
  font-size: x-large;
  font-weight: bold;
  display: flex;
  margin-top: 229px;
}
.works{
  max-width: 633px;
  max-height: 489px;
  display: flex;
  margin-top: 57px;
  gap: 44px;
}
.box{
  display: flex;
  color: white;
  font-family: "poppins";
  font-size: large;
  font-weight: bold;
}
.box{
  display: flex;

}
.par{
  margin-left: 200px;
  color: white;
  font-family: "poppins";
  font-weight: lighter;
  font-size: large;
  max-width: 400px;
  text-align: justify;
  margin-right: 70px;
 
}
.pa{
  margin-top: 30px;
  text-align: justify;
  margin-right: -30px;
  color: white;
  font-family: "poppins";
  font-size: large;
  font-weight: lighter;
}
.pictures{
  display: flex;
  margin-left: 180px;
  gap: 370px;
  margin-top: 180px;
  max-width: fit-content;
  max-height: fit-content;
  
}
