
.container{
    margin-left: auto;
    margin-right: auto;
    
}

.header{
    background-color: black;
    color: white;
    display: flex;
}
.logo{
    font-size: xx-large;
    font-weight: bolder;
}

.img{
  margin-left: auto;
}

hr{
    color: gray;
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    background-color: black;
    color: white;
}
.bulb{
    align-items:right;
    max-width: 57px;
    max-height: 57px;
}
.dec{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
    width: 350px;
    
   line-height: 54px;
    text-align:center;
    list-style-type: decimal;
    
   
}
.color{
    color: aqua;
}
.btn{
    color: white;
    background-color: gray;
    border: none;
   width: 193px;
  height: 58px;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    border-radius: 5px;
    margin-top: 67px;
    margin-bottom: 56px;
}
.num{
    background-color: black;
    color: white;
    display: grid;
    row-gap: 20px;
   
   
}
.dig{
    font-size: xx-large;
    font-weight: bold;
    size: 40px;
}
.lorem{
    color: gray;
    font-size: medium;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
.bell{
    background-color: black;
    display: flex;
    max-width: 46px;
    max-height: 36px;
    margin-left: 40px;
    
   
}

.heading {
    text-align: justify;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: x-large;
    background-color: whitesmoke;
    width: 254px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .color {
    color: aqua;
  }
  .aboutusdescription {
    color: gray;
    background-color: whitesmoke;
    font-weight: lighter;
    padding: 34px;
    text-align: center;
    margin: auto;
   width: 358px;
   justify-content: center;
   text-align: justify;
  }
  .aboutuscards{
   
    background-color:whitesmoke;
    display: grid;
    row-gap: 61px;
    width: 248px;
    margin-left: auto;
    margin-right: auto;
   
  }
.AboutUsCard{
    width: 248px;
    height: 226px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
   
}

